<% if flash[:notice] %>
    <span style="color:green;">
        <%= flash[:notice] %>
    </span>
<% end %>

<% @tweet.each do |e| %>
     <div class="trim">
        <img src="https://pbs.twimg.com/media/CQsH6fbUEAEzPp2?format=jpg&name=360x360">
    </div>
    <p> 
        <%= e.message %> 
        <%= ((Time.current - e.tdate) / 60).to_i.to_s + "分前" %>
        <%= link_to '表示', "/tweets/#{e.id}" %> 
        <%= link_to '削除', "/tweets/#{e.id}", method: :delete %> 
        <%= link_to '編集', "/tweets/#{e.id}/edit" %> 
    </p> 
<% end %>

<%= link_to 'ツイートする', new_tweet_path %>