<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <div id="main">
    <div id="sidebar" style="width:25%; float:left;">
     <%= render "sidebar" %>
    </div>

    <div id="content" style="width:75%; float:right;">
     <%= render "content" %>
    </div>
   </main>

  </body>
</html>